body {
	margin: 100px 0;
	padding: 0;
	font-family: 'Arial';
	color: #000;
	text-align: center;
        display: flex;
}

body h1 {
	font-size: 40px;
	color: #0097e6;
	margin-top: 30px;
	margin-bottom: 0px;
	padding: 0;
	line-height: 10px;
}

body h2 {
	font-size: 20px;
	color: #718093;
	margin: 0;
	padding: 0;
	line-height: 5px;
	font-style: italic;
}

body p {
	font-size: 18px;
	padding: 36px;
	line-height: 30px;
	word-spacing: 3px;
}


